<h2>Crie sua conta</h2>

<section id="owner-signup">
  <h3>Sou dono de pousada</h3>
  <%= render 'owner' %>
</section>
<!--
<section id="customer-signup">
  <h3>Quero me hospedar</h3>
  <%= render 'customer' %>
</section>
-->