  <table>
    <tr>
      <td padding="30px" >
        <%= link_to 'Sou dono de Pousada', new_user_registration_path(user_type: 'Owner') %>
      </td>
      <td padding="30px" >
        <%= link_to 'Quero me hospedar', new_user_registration_path(user_type: 'Customer') %>
      </td>
    </tr>
  </table>