<% if active_inns %>
  <%= 'rola' %>
  <% if new_inns %>
    <%= render partial: 'inns/list_new_inns', locals: { pousadas: new_inns } if new_inns.length > 0 %>
  <% end %>
  <% if older_inns %>
    <%= render partial: 'inns/list_all_inns', locals: { pousadas: older_inns } if older_inns.length > 0 %>
  <% end %>

<% else %>
  <h3> Nenhuma pousada ativa. </h3>
<% end %>

<% if @owner_view %>
  <%= render 'inns/submenu' %>
<% end %>