<% if active_inns %>
  <% if new_inns %>
    <%= render partial: 'inns/list_new_inns', locals: { pousadas: new_inns } unless new_inns.empty? %>
  <% end %>
  <% if older_inns %>
    <%= render partial: 'inns/list_all_inns', locals: { pousadas: older_inns } unless older_inns.empty? %>
  <% end %>

<% else %>
  <h3> Nenhuma pousada ativa. </h3>
<% end %>