<% recent = 3 %>
<% if @active_inns %>


  <%= render partial: 'inns/list_new_inns', locals: { items: recent, pousadas: @active_inns } if @active_inns.length > 0 %>
  <%= render partial: 'inns/list_all_inns', locals: { items: recent, pousadas: @active_inns } if @active_inns.length > recent %>

<% elsif @active_inns.length == 0 %>
  <h3> Nenhuma pousada foi encontrada </h3>
<% else %>
  <h3> Nenhuma pousada ativa. </h3>
<% end %>

<% if @owner_view %>
  <%= render 'inns/submenu' %>
<% end %>