<div id="all" class="list">
  <table>
    <% pousadas.each_with_index do |inn, index| %>
    <tr><td><%= link_to inn.brand_name, inn_path(inn.id)%><%= " - #{inn.city}/#{inn.state}" %></td></tr>
    <!-- <%= ' ðŸ±ðŸ¶ ' if inn.pet_friendly %><%= ' â™¿ ' if inn.wheelchair_accessible %> -->
  <% end %>
  </table>
</div>