<div class="featured list" id="featured">
  <table><% pousadas.each do |inn| %>
    <tr><td><%= link_to inn.brand_name, inn_path(inn.id)%><%= " - #{inn.city}/#{inn.state}" %></td></tr>
  <% end %>
  </table>
</div>