<nav>
  <ul>
    <li>
      <%= button_to 'Editar Pousada', edit_inn_path(@inn), method: :get %>
    </li>
    <li>
      <%= button_to 'Adicionar Quarto', new_room_path, method: :get %>
    </li>
  </ul>
</nav>