<% if @room.errors.any? %>
  <div class="alert">
    Verifique os erros abaixo:
  <ul>
    <% @room.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
  </div>
<% end %>