<%= render 'rooms/room_details' %>

<% if @owner_view %>
  <%= @room.available ? "Disponível" : "Indisponível" %> 
<% end %>

<% if @owner_view %>
  <%= render 'seasonals/index', room: @room unless @room.seasonals.empty? %>
<% else %>
  <div><%= button_to "Quero reservar", new_room_reservation_path(@room), method: :get, class: "inline-button" %></div>
<% end %>
