
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 90%; 
  font: inherit;
  vertical-align: baseline;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  max-width: 1400px;
  margin: auto;
}

/* Áreas ================================================================= */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Calibri', 'Helvetica Neue', Helvetica;
  color: #f4f4f4; 
  background-color: #121212; 
  padding: 20px;
  font-size: 16px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Títulos ================================================================= */
h1, h2, h3, h4, h5, h6 {
  color: #f4f4f4;
  margin-bottom: 0em;
  margin-left: 5px;
}

h1 {
  font-size: 2.5em; 
  margin-bottom: 0em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
  font-style: italic;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

/* Tabelas ================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

dt {
  font-weight: bold;
}

/* Navegação ul ================================================================= */
nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

nav li {
  float: left;
}

nav li button {
  display: block; 
  text-align: center; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  margin: 5px;
}

nav li button:hover {
  background-color: #111; 
}

footer {
  padding: 20px 0;
  background-color: #333;
  color: white;
  text-align: center;
}

/* Containers ================================================================= */
.box {
  max-width: 1200px; 
  margin: 0px; 
  margin-top: 20px;
  padding-left: 20px;
  padding: 10px;
  background-color: #fdfdfd80;
}

.box,
a {
  text-decoration: none;
  color: #dddddd;
}

.logins {
  right: auto;
}

/* Texto ================================================================= */
a:hover {
  color: #0a58ca;
  text-decoration: underline;
}

a {
  font-weight: bold;
}

strong {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
}

.description {
  font-style: italic;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
}

.notice {
  color: #0a58ca;
  padding: 10px;
  text-transform: uppercase;
}

.alert {
  color: #ca470a;
  max-width: 600px;
  padding: 10px;
  font-style: italic;
}

/* Listagens ================================================================= */
.list {
  padding: 30px 0px 30px 30px;
  white-space: nowrap;
  background-color: #f4f4f410;
  border-radius: 5px;
  margin: 5px;
}

.list table {
  margin: 0px;
  padding: 0px;
}

.list table, tr td{
  padding: 10px 0px 10px 10px;
}

.featured {
  font-size: x-large;
}

/* Itens Inline ================================================================= */
.inline, .inline-button {
  display: inline-block;
}

.inline {
  margin-bottom: 15px;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
}

.inline-button {
  margin-left: 10px;
  vertical-align: middle;
  background-color: #f4f4f400;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  color: #f4f4f4;
}

/* Formulários =================================================================  */


.frozen {
  background-color: #535353;
  color: #000000;
}

/* ================================================================= */