
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 90%; 
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; 
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Calibri', 'Helvetica Neue', Helvetica;
  color: #f4f4f4; 
  background-color: #121212; 
  padding: 20px;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


a:hover {
  color: #0a58ca;
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  color: #f4f4f4;
  margin-bottom: 0em;
  margin-left: 5px;
}

h1 {
  font-size: 2.5em; 
  margin-bottom: 0em;
  
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
  font-style: italic;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p {
  margin-bottom: 0.0em;
}

dt {
  font-weight: bold;
}


nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

nav li {
  float: left; /* Faz cada li flutuar para a esquerda, alinhando-os horizontalmente */
}

nav li button {
  display: block; 
  text-align: center; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  margin: 5px;
}

input[type=submit]{
  display: block; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
}

nav li button:hover {
  background-color: #111; 
}




footer {
  /* margin-top: 20px; */
  padding: 20px 0;
  background-color: #333;
  color: white;
  text-align: center;
}


@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

.box {
  max-width: 600px; 
  margin: 0; 
  margin-top: 20px;
  padding-left: 20px;
  padding: 10px;
  background-color: #fdfdfd80;
}

.box,
a {
  text-decoration: none;
  color: #dddddd;
}


form {
  max-width: 600px; 
  margin: 0; 
}


form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form textarea,
form select {
  width: 100%; 
  padding: 10px; 
  /* margin-bottom: 15px; */
  border: 1px solid #ccc; 
}


form label {
  display: block; 
  margin: 0 auto;
  margin-top: 20px;
  
}


form input[type="submit"] {
  background-color: #5cb85c; 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-top: 20px;
}

form input[type="submit"]:hover {
  background-color: #4cae4c; 
}

.peq{
  font-size:x-small;
  margin: 0px;
}



strong{
  font-size: small;
  text-transform: uppercase;
}

.notice{
  color: #0a58ca;
  max-width: 600px;
  padding: 10px;
  text-transform: uppercase;
}

.alert{
  color: #ca470a;
  max-width: 600px;
  padding: 10px;
  font-style: italic;
}

.list{
  padding: 10px;
  padding-left: 30px;
  white-space: nowrap;
  background-color: #f4f4f410;
  border-radius: 5px;
  margin: 5px;
}

.inline, .inline-button{
  display: inline-block;
}

.inline{
  margin: 10px 0px 10px 0px;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
}

.inline-button{
  margin-left: 10px;
  vertical-align: middle;
  background-color: #f4f4f400;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  color: #f4f4f4;
}

input[type=checkbox].inline{
  margin-left: 10px;
  vertical-align: middle;
}

.frozen{
  background-color: #535353;
  color: #000000;
}