
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 90%; 
  font: inherit;
  vertical-align: baseline;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  max-width: 1400px;
  margin: auto;
}

table.small {
  margin: 0px;
  padding: 0px;
}
/* Formulários =================================================================  */

label {
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 5px ;
}

input {
  font-size: 13px;
  vertical-align: middle !important;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 5px;
  width: max-content;
}


.frozen {
  background-color: #535353;
  color: #000000;
}

.uppercase {
  text-transform: uppercase;
}
.peq {
  font-size: small;
}

.footnote {
  font-size: smaller;
  color: #f4f4f430;
  max-width: min-content;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* top-menu ================================================================= */

.top-menu ul,
.top-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

.top-menu input[type=submit] {
  
  text-align: center; 
  padding: 5px 20px;
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  margin-right: 2px;
  margin-left: 2px;
}

.top-menu button{
  display: block; 
  text-align: center; 
  padding: 10px 20px;
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  margin-right: 2px;
  margin-left: 2px;
}

.small-menu button {
  display: block;
  font-size: 11px; 
  text-align: center; 
  padding: 8px 16px;
  text-decoration: none; 
  color: white; 
  background-color: #333; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  margin-top: 0px;
  margin-right: 2px;
  margin-left: 2px;
}

.top-menu button:hover {
  background-color: #222;
}

/* Body ================================================================= */
body {
  line-height: 1.5;
  font-family: 'Calibri', 'Helvetica Neue', Helvetica;
  color: #f4f4f4; 
  background-color: #121212; 
  padding: 20px;
  font-size: 15px;
}

/* Títulos ================================================================= */
h1, h2, h3, h5, h6 {
  color: #f4f4f4;
  margin-bottom: 0em;
  margin-left: 5px;
}

h1 {
  font-size: 2.5em; 
  margin-bottom: 0em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.3em;
  font-style: italic;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

/* Tabelas ================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0px;
}

th {
  font-weight: bold;
}

tr, td, th {
  max-width: 100%;
  width: auto;
}

/* Containers ================================================================= */
.box {
  max-width: 1500px; 
  margin: 5px;
  margin-top: 50px;
  padding-left: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff00;
}

.box:hover {
  background-color: #ffffff10;
}

.box div.field {
  padding-left: 8px;
  padding-top: 15px;
  max-width: 1400px;
}
.box div.actions {
  padding-left: 8px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.box,
a {
  text-decoration: none;
  color: #dddddd;
}

/* Texto ================================================================= */
a:hover {
  color: #eeff00;
  text-decoration: none;
}

a {
  font-weight: bold;
  color: #00f7ff80;
}

strong {
  font-size: smaller;
  text-transform: uppercase;
  font-weight: bold;
  color: #f4f4f477;
}

.title {
  font-size: smaller;
  text-transform: uppercase;
  font-weight: bold;
}

.description {
  font-style: italic;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
}

.notice {
  color: #0a58ca;
  padding: 10px;
  text-transform: uppercase;
}

.alert {
  color: #ca470a;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  font-style: italic;
}

/* Listagens ================================================================= */
.list{
  padding: 10px 30px 10px 30px;
  white-space: nowrap;
  background-color: #f4f4f410;
  border-radius: 5px;
  margin: 5px;
  max-width: none;
}

.inlist{
  padding: 30px 30px 30px 30px;
  background-color: #f4f4f410;
  border-radius: 5px;
  margin: 5px;
  max-width: none;
}

.list-item  {
  padding-top: 30px;
}



.list table, tr,  th, td {
  padding: 0px 0px 5px 10px;
  text-align: left;
}

.list table {
  margin: 0px;
  padding: 0px;
}

.list th span{
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.list td {
  font-weight: normal;
  padding-left: 30px;
}

.featured {
  font-size: large;
}

/* Itens Inline ================================================================= */


.inline {
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}

label.inline {
  margin: 0px;
  padding: 0px 0px 0px 30px;

}

.inline-input {
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}

.inline-button {
  margin-top: 5px;
  margin-left: 30px;
  vertical-align: middle;
  background-color: #f4f4f400;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  color: #f4f4f4;
  padding-left: 5px;
}

.inline-button:hover {
  background-color: #f4f4f460;
}

.inline-button:disabled {
  color: #f4f4f440;
  border-color: #f4f4f420;
  pointer-events: none;
}


/* ================================================================= */

body {
  margin-left: 30px;
}

.field_with_errors {
  margin: 0px;
  padding: 0px;
  font-size: small;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}